<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row subContainer">
        <%- include("../partials/leftpartial") %>
        <div class="col-7 followlist-central-box">
          <div class="row new-tweet-box">
            <div class="col-1 mt-4">
              <a href="/profile/<%=userFollowers.username%>" class="text-black"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="col-11 mt-2">
              <h1 class="follower-name">
                <%=userFollowers.firstname%> <%= userFollowers.lastname%>
              </h1>
              <h2 class="follower-username fw-light text-secondary">@<%= userFollowers.username%></h2>
            </div>
            <div class="col-6 mt-3 text-center mb-3">
              <a class="link-follow" href="/profile/<%=userFollowers.username%>/followers">Followers</a>
            </div>
            <div class="col-6 mt-3 text-center mb-3">
              <a class="link-follow" href="/profile/<%=userFollowers.username%>/following">Following</a>
            </div>
          </div>
          <% for (const follower of userFollowers.followers) { %>
            <div class="row tweet-list mt-3">
              <div class="col-2 text-center">
                <img src="<%= follower.image %>" alt="" class="rounded-circle follow-tweet-profile-img" />
              </div>
              <div class="col-7">
                <h4 class="follow-content follow-title"><%= follower.firstname %></h4>
                <h4 class="follow-content follow-subtitle text-secondary fw-light">@<%= follower.username %></h4>
                <p class="tweet-content"></p>
              </div>
              <div class="col-2">
                <button class="btn follow-btn-medium text-white rounded-pill mt-2 ms-3" href="/" role="button">
                  Follow
                </button>
              </div>
            </div>
          <% } %>
        </div>

        <%- include("../partials/rigthpartial") %>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/0f587675ba.js" crossorigin="anonymous"></script>
  </body>
</html>
