<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
    <title>Home | Twitter Clone</title>
  </head>
  
  <body>
      <div class="row gx-5">
        <%- include("../partials/leftpartial") %>
        <div class="col-md-5 col-7 central-box">
          <div class="home-central-navbar">
            <h1 class="title-tweet-box">Home</h1>
          </div>
          <div class="row tweet-list">
            <div class="col-2 text-center">
              <a href="/profile/<%= user.username %>">
                <img
                <% if (user.image.includes("http")) {%>
                  src="<%= user.image %>"
                  <% } else {%>
                    src="/img/<%= user.image %>"
                    <% } %>
                  alt=""
                  class="rounded-circle image-hardcode-create"
                />
            </a>
            </div>
            <div class="col-8">
              <textarea
                cols="40"
                rows="2"
                style="border: none"
                placeholder="What's happening?"
                class="mt-2 home-placeholder"
              ></textarea>
            </div>
            <div class="col-12 mt-3 d-flex">
              <button class="btn btn-hardcode text-white rounded-pill mb-3 ms-auto" href="/" role="button">
                Tweet
              </button>
            </div>
          </div>
          <% for (const tweet of tweets) { %>
              <div class="row tweet-list mt-3 gx-0">
                <div class="col-2 d-flex justify-content-center h-25">
                  <a href="/profile/<%= tweet.author.username %>">
                    <img src="<%= tweet.author.image %>" alt="Profile image" class="rounded-circle home-tweet-profile-img" />
                  </a>
                </div>

                <div class="col-10">
                  <h4 class="d-inline follow-content follow-title">
                    <a href="/profile/<%= tweet.author.username %>" class="text-decoration-none text-black">
                      <%= tweet.author.firstname%> <%= tweet.author.lastname %>
                    </a>
                  </h4>
                  <h4 class="d-inline follow-subtitle text-secondary fw-light">@<%= tweet.author.username%> • 
                    <% const timeDiffInHours = Math.round((Date.now() - tweet.createdAt.getTime()) / (1000 * 60 * 60)); %>
                    
                    <%  if (timeDiffInHours <= 24) { %>
                     <%=` ${timeDiffInHours} h`; %>
                    <%  } else {  %>
                    <%= tweet.createdAt.toLocaleString("default", { month: "short", day: "numeric" }); %>
                    <% } %>
                  </h4>
                  <p class="tweet-content"><%= tweet.content %></p>                  
                  <section class="mb-3">
                    <% if(tweet.likes.includes(user._id)) {%>
                    <a href="/<%= tweet._id %>/like" class="text-decoration-none text-black">
                      <i class="bi bi-heart-fill heart-likes"></i>
                      <small class="ms-2 number-likes"><%= tweet.likes.length %></small>
                    </a>
                    <% } else {%>
                      <a href="/<%= tweet._id %>/like" class="text-decoration-none text-black">
                        <i class="bi bi-heart"></i>
                        <small class="ms-2"><%= tweet.likes.length %></small>
                      </a>
                      <% } %>
                  </section>
                </div>
              </div>
          <% } %>
        </div>

        <%- include("../partials/rigthpartial") %>
      </div>
    <%- include("../partials/script") %>
  </body>
</html>


